PRIVATE_KEY = "<metamask private key on goerli network>"
API_URL = "https://eth-goerli.alchemyapi.io/v2/<alchemy key>"
API_KEY = "<alchemy key>"
L1_CONTRACT_ADDRESS = "<contract address after deployment>"